.post_header{
    width: 25%;
    position: relative;
    left: 35%;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px;     
}

.post_header:hover{
    cursor: pointer;      
    background-color: #7e85d8;
}
