#post, #post_meta{
    width: 30%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 20px;
}

@media (max-width:1800px){
    #post {
        width: 50%;
    }
}

@media (max-width:1000px){
    #post {
        width: 75%;
    }

}



img{
    max-width: 100%;
}

/*CODE HIGHLIGHTS*/

.highlight{
    padding: 16px;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
    overflow-x: auto;

}

code{
    padding: .2em .4em;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
}

.n{
    color: #e36209;
}

.k{
    color: #6f42c1;
}

.nl, .kt{
    color: #d73a49;
}

.c1{
    color: #6a737d;
}

/*TABLE STYLE*/
table {
  border-collapse: collapse;
  margin: 0 auto;

}

table, th, td {
  border: 1px solid black;
}
