#post{
    width: 30%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
}

.highlight{
    padding: 16px;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
}

code{
    padding: .2em .4em;
    color: #24292e;
    background-color: #f6f8fa;
    border-radius: 6px;
}
