.post_header{
    width: 25%;
    position: relative;
    left: 35%;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px; 
    border-radius: 3px;     
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 18px grey;
}

.post_header:hover{
    cursor: pointer;      
    background-color: black;
    color: white; 
}
