
#title{
   height: 100px; 
   line-height: 100px;
   margin: 0 auto;
   width: 50%;   
   text-align: center; 
   font-size: 100px; 
}

#title:hover{
    cursor: pointer;  
}


#loading{
    margin: 0 auto;
    position: relative;  

}
